<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="keywords" content="Flask, Programming, Python, Jinja2, Templates, HTML">
    
    <link rel="shortcut icon" href="https://flask.palletsprojects.com/en/2.2.x/_static/flask-icon.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    {% if title %}
        <title>{{ title }} - Blog Simples</title>
        {% else %}
        <title>Bem vindo ao Blog Simples</title>
        {% endif %}
        
</head>
<body>
    
    {% include "_nav.html" %}

    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            
            {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {{ moment.include_moment() }}
    {{ moment.locale('pt-BR') }}
    <script src="{{ url_for('static', filename='js/popover.js') }}"></script>
    {% if request.path == '/index' or request.path == '/' or '/edit_profile' in request.path or '/send_message' in request.path %}
        <script src="{{ url_for('static', filename='js/contagem_textarea.js') }}"></script>
    {% endif %}
    {% if current_user.is_authenticated %}
        <script>
            function set_message_count(n) {
                $('#message_count').text(n);
                $('#message_count').css('display', n ? 'inline-block' : 'none');
            }

            $(function() {
                var since = 0;
                setInterval(function() {
                    $.ajax("{{ url_for('blog.notifications') }}?since=" + since).done(
                        function(notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                                if (notifications[i].name == 'unread_message_count')
                                    set_message_count(notifications[i].data);
                                since = notifications[i].timestamp;
                            }
                        }
                    );
                }, 10000)
            });
        </script>
    {% endif %}
</body>
</html>
