{% extends "base.html" %}

{% block content %}

    <h1>Editar Perfil</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <div class="pb-4 pt-2">
            <label>Foto de Perfil</label><br>
            Você pode trocar sua foto de perfil no 
            <abbr title="O Gravatar é um serviço gratuito que permite que você compartilhe sua foto de perfil com milhões de pessoas, tudo que você precisa fazer é criar uma conta com seu e-mail e adicionar um avatar."><a href="https://br.gravatar.com/" target="_blank">Gravatar</a></abbr>
        </div>
        <div>
            {{ form.username.label }} <br>
            {{ form.username(size=32, class="form-control") }} <br>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.email.label }} <br>
            {{ form.email(size=64, class="form-control") }} <br>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="md-form mb-4 pink-textarea active-pink-textarea">
            {{ form.about_me.label }} <br>
            <div class="overflow-auto border border-dark rounded-3 border-opacity-25" style="height: 37vh;">
                {{ form.about_me(only_input=True, class='form-control', placeholder='Editor de Markdown', style="resize: none; height:36.7vh; border: none;") }}
                {{ form.about_me(only_preview=True) }}
            </div>
    
            <div class="mt-1 d-flex justify-content-end">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="selector" id="escrever" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="escrever">Escrever</label>
                
                    <input type="radio" class="btn-check" name="selector" id="visualizar" autocomplete="off">
                    <label class="btn btn-outline-primary" for="visualizar">Visualizar</label>
                </div>
            {% for error in form.about_me.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>{{ form.submit(style="cursor: pointer;", class="btn btn-primary") }}</div>
    </form>

{% endblock %}