{% extends "base.html" %}

{% block content %}

    <h1>Entrar</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32, class="form-control", placeholder="Insira seu e-mail") }}
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32, class="form-control", placeholder="Insira sua senha") }}
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p class="custom-control custom-checkbox">
            {{ form.remember_me(class="custom-control-input") }} {{ form.remember_me.label(class="custom-control-label") }}
        </p>
        <p>{{ form.submit(style="cursor: pointer;", class="btn btn-primary") }}</p>
    </form>

    <p>
        Novo aqui? <a href="{{ url_for('blog.register') }}">Clique para se registrar!</a>
    </p>

    <p>
        Esqueceu sua senha? <a href="{{ url_for('blog.reset_password_request') }}">Clique aqui para redefini-la!</a>
    </p>

{% endblock %}
