<div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <div class="me-2">
            <a class="nav-link" href="{{ url_for('blog.user', username=user.username) }}">
                <img src="{{ user.avatar(64) }}" alt="Foto de Perfil" class="rounded-circle">
            </a>
        </div>
        <small class="d-flex flex-column align-items-center">
            <h2 class="fw-bold">
                <a class="nav-link text-nowrap" href="{{ url_for('blog.user', username=user.username) }}">
                    {{ user.username }}
                </a>
            </h2>
            
            {% if user.last_seen %}
                <p>Online - {{ moment(user.last_seen).calendar(refresh=True) }}</p>
            {% endif %}

            <p class="text-nowrap">
                seguidores <span class="fw-bold">{{ user.followers.count() }}</span> - 
                seguindo <span class="fw-bold">{{ user.followed.count() }}</span>
            </p>
        </small>
    </div>
</div>