{% extends "base.html" %}

{% block content %}

    <table>
        <tr style="text-align: top;">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>Usuário: {{ user.username }}</h1>

                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                
                {% if user.last_seen %}
                    <p>Visto por ultimo em: {{ user.last_seen }}</p>
                {% endif %}

                <p>
                    {{ user.followers.count() }} seguidores, 
                    {{ user.followed.count() }} seguindo.
                </p>

                {% if user == current_user %}
                    <p>
                        <a href="{{ url_for('blog.edit_profile') }}">
                            Editar perfil
                        </a>
                    </p>
                {% elif not current_user.is_following(user) %}
                    <p>
                        <form action="{{ url_for('blog.follow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Seguir', style='cursor: pointer;') }}
                        </form>
                    </p>
                {% else %}
                    <p>
                        <form action="{{ url_for('blog.unfollow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Parar de seguir', style='cursor: pointer;') }}
                        </form>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>

    <hr>
    
    {% for post in posts %}

        {% include '_post.html' %}

    {% endfor %}

    {% if prev_url %}
    <a href="{{ prev_url }}">Posts mais recentes</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Posts mais antigos</a>
    {% endif %}

{% endblock %}
