<table class="table">
    <tr>
        <td width="64" style="border: 0px;">
            <img src="{{ user.avatar(64) }}" alt="Avatar">
        </td>

        <td style="border: 0px;">
            <p>
                <a href="{{ url_for('blog.user', username=user.username) }}">
                    {{ user.username }}
                </a>
            </p>

            <small>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p>
                        Visto por último: <br>
                        {{ moment(user.last_seen).calendar(refresh=True) }}
                    </p>
                {% endif %}
                <p>
                    seguidores {{ user.followers.count() }} - 
                    seguindo {{ user.followed.count() }}
                </p>
                {% if user != current_user %}
                    {% if not current_user.is_following(user) %}
                        <p>
                            <form action="{{ url_for('blog.follow', username=user.username) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(
                                    value='Seguir', 
                                    style="cursor: pointer;", 
                                    class="btn btn-primary btn-sm"
                                    )
                                }}
                            </form>
                        </p>
                    {% else %}
                    <p>
                        <form action="{{ url_for('blog.unfollow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(
                                value='Parar de seguir', 
                                style="cursor: pointer;", 
                                class="btn btn-primary btn-sm"
                                ) 
                            }}
                        </form>
                    </p>
                    {% endif %}
                {% endif %}
            </small>
        </td>
    </tr>
</table>